@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-display: "Poppins", sans-serif;
}

body {
  @apply bg-slate-800 text-white font-sans;

  p {
    @apply text-white font-display;
  }
}
.layout-primary {
  @apply bg-slate-800;
}

.layout-fond-color {
  @apply text-white;
}

.text-color-resalter {
  @apply text-white;
}

.button-menu-active {
  @apply bg-slate-900 text-white;
}

.button-menu-hover {
  @apply text-slate-200 hover:bg-slate-600;
}

.bg-color-primary {
  @apply bg-slate-500;
}

.primary-layout-display {
  @apply min-h-screen pt-4 pb-8 px-4;
}
